* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font: 11pt Arial, Helvetica, sans-serif;
}
header.main,footer.main {
    background: green;
    padding: 10px;
    text-align: center;
    color: #fff;
}
footer.main ul{
    list-style: none;
}
.main a {
    color: #fff;
}
.main a:hover {
    text-decoration: none;
    color: orange;
}
#content {
    padding: 20px;
    height: 100%;
}
#content h2,
#content p {
    text-align: center;
}
/**
 * Styles for foto element
 */

div#first-container,
div#second-container {
    margin: 0 auto;
    background: green;
    border: 1px solid black;
}
div#first-container {
    width: 550px;
    height: 550px;
}
div#second-container {
    width: 650px;
    height: 750px;
}
.looking-photo {
    float: left;
    margin: 50px 0 0 50px;
}