* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font: 11pt Arial, Helvetica, sans-serif;
}
header.main,footer.main {
    background: green;
    padding: 10px;
    text-align: center;
    color: #fff;
}
footer.main {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer.main ul{
    list-style: none;
}
.main a {
    color: #fff;
}
.main a:hover {
    text-decoration: none;
    color: orange;
}
#content {
    padding: 20px;
}
#content h2,
#content p {
    text-align: center;
}
/**
 * Styles for foto element
 */
div.container {
    width: 500px;/* width of green square */
    height: 500px;/* height of green square */
    background: green;
    border: 1px solid black;
    margin: 20px auto;
    padding: 0 50px 50px 0;
}
.looking-photo {
    display: block;
    float: left;
    width: 200px; /* width of displayed image */
    height: 200px; /* height of displayed image */
    margin: 50px 0 0 50px;
    background: url(../images/image.jpg);
}