* {
    margin: 0;
    padding: 0;
    border: 0;
}
header.main,footer.main {
    background: green;
    padding: 10px;
    text-align: center;
    color: #fff;
    clear: both;
}
footer.main ul{
    list-style: none;
}
.main a {
    color: #fff;
}
.main a:hover {
    text-decoration: none;
    color: orange;
}
#content {
    clear: left;
    padding: 20px;
}
#content h2 {
    text-align: center;
}
/**
 * Styles for foto element
 */
div.container {
    width: 300px;/* width of green square */
    height: 300px;/* height of green square */
    background: green;
    border: 1px solid black;
    /*margin: 0 auto;*/
    float:right;
}
#myfoto {
    display: block;
    width: 200px; /* width of displayed image */
    height: 200px; /* height of displayed image */
    margin: 50px;
    background: url(../images/image.jpg);
}